include ../cards/address-card

-
  var clinicData = [
    {
      img: img_artwork[37],
      name: 'Central Clinic',
      phone: '+123 456 78 91',
      email: 'hello@awrora.com',
      address: 'Lorem ipsum street no.14 Block A'
    },
    {
      img: img_artwork[38],
      name: 'Dental Clinic',
      phone: '+123 456 78 91',
      email: 'hello@awrora.com',
      address: 'Vestibulum Block C - Vestibullum Building'
    },
    {
      img: img_artwork[39],
      name: 'Mother and Baby Care',
      phone: '+123 456 78 91',
      email: 'hello@awrora.com',
      address: 'Aenean Facilisis no.14 Block A'
    },
    {
      img: img_artwork[40],
      name: 'Orthopedic Clinic',
      phone: '+123 456 78 91',
      email: 'hello@awrora.com',
      address: 'Phasellus ante massa Block C - Vestibullum Building'
    },
    {
      img: img_artwork[41],
      name: 'Mother and Baby Care',
      phone: '+123 456 78 91',
      email: 'hello@awrora.com',
      address: 'Nulla-Vehicula street no.14 Block A'
    },
    {
      img: img_artwork[42],
      name: 'Orthopedic Clinic',
      phone: '+123 456 78 91',
      email: 'hello@awrora.com',
      address: 'Fusce II street Block C - Vestibullum Building'
    }
  ]

.root
  .container.mq-md-up(data-class="fixed-width")
    .pa-3
      h4.use-text-title.text-capitalize
        | #{$t.medical_landing.clinic_title}
      p.use-text-subtitle2 We make it simple to get healthcare whenever and wherever you want.
    .row
      each item, index in clinicData
        .col-md-6.col-sm-12.px-3
          .wow.fadeInUpShort(data-wow-offset="-50" data-wow-delay=(0.2 * index) + "s" data-wow-duration="0.4s")
            div
              +address-card(item.img, item.name, item.phone, item.email, item.address, link.medical.contactMap)

