extends ../layouts/app.pug

block variables
  - var pageTitle = " Homepage"
  - var pageName = "homepage"
  - var headerHome = true

block content
  div#home
    .main-wrap
      include ../components/header/main.pug
      |
      |
      |
      main.container-wrap
        // ##### BANNER #####
        section#banner
          include ../components/home/banner-slider.pug
        // ##### END BANNER #####
        |
        |
        |
        // ##### COUNTER #####
        section#about.space-top.space-top-short-xs
          include ../components/home/counter.pug
        // ##### END COUNTER #####
        |
        |
        |
        // ##### FACILITY #####
        section#facility.space-top-short
          include ../components/home/facilities.pug
        // ##### END FACILITY #####
        |
        |
        |
        // ##### SPECIALITY #####
        section#speciality.space-top
          include ../components/home/speciality.pug
        // ##### END SPECIALITY #####
        |
        |
        |
        // ##### ASK DOCTORS #####
        section#ask-doctors.space-top-short
          include ../components/home/ask-doctors.pug
        // ##### END TESTIMONIALS #####
        |
        |
        |
        // ##### TESTIMONIALS #####
        section#testimonials.space-top-short
          include ../components/home/testimonials.pug
        // ##### END TESTIMONIALS #####
        |
        |
        |
        // ##### CALL ACTION #####
        section.space-top
          include ../components/call-action.pug
        // ##### END CALL ACTION #####
        |
        |
        |
        // ##### CLINICS #####
        section#clinics.space-top-short.space-bottom-short
          include ../components/home/clinics.pug
        // ##### END CLINICS #####
        |
        |
        |
      // ##### FOOTER #####
      include ../components/footer/main.pug
      // ##### END FOOTER #####
      |
      |
      |
      // ##### NOTIFICATIONS #####
      .hidden-md-down
        include ../components/notifications.pug
      // ##### END NOTIFICATIONS #####
      |
      |
      |
      // ##### CORNER #####
      .hidden-md-down
        include ../components/corner.pug
      // ##### END CORNER #####
      |
      |