.footer-deco
  .left-deco
  .right-deco
    |
    |
    img.img-2d3d(
      src=img_assets+img_artwork[17]
      data-3d=img_assets+img_artwork[16]
      data-2d=img_assets+img_artwork[17]
      alt="speciality 3d"
    )/
    |
    |
