extends ./document.pug

block variables
block layout
  #app.m-application.theme--light.transition-page
    .loading
    #main-wrap.m-content.fresh.fresh-var
      if env === 'prod'
        include ../components/theme-options/side-right.pug
      block content